.layout-wrap {
    height: calc(100vh);
    box-sizing: border-box;
}

.layout-header {
    position: relative;
    height: 75px;
    background-color: #fff;
    @include webkit(box-shadow, 0 3px 16px 0 rgba(0, 0, 0, .1));
}

.layout-content {
    background-color: #fff;
    border: 30px solid #f7f7f7;
    padding: 30px;;
}